<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <title>سامانه کتابخانه هکس آرنا</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/main.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/venobox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/animate.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/owl-carousel/owl.carousel.css" rel="stylesheet" media="all" />
    <link href="~/css/owl-carousel/owl.theme.css" rel="stylesheet" media="all" />
    <link href="~/css/owl-carousel/owl.transitions.css" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> -->
    <!--Alternate styles for demo purposes only-->
    <link href="~/css/switcher.css" rel="stylesheet" type="text/css" />
    <link href="~/css/styles/clr-1.css" rel="stylesheet" type="text/css" title="clr-1" media="all" />
    <link href="~/css/styles/clr-2.css" rel="alternate stylesheet" type="text/css" title="clr-2" media="all" />
    <link href="~/css/styles/clr-3.css" rel="alternate stylesheet" type="text/css" title="clr-3" media="all" />
    <link href="~/css/styles/clr-4.css" rel="alternate stylesheet" type="text/css" title="clr-4" media="all" />
    <link href="~/css/styles/clr-5.css" rel="alternate stylesheet" type="text/css" title="clr-5" media="all" />
    <link href="~/css/styles/clr-6.css" rel="alternate stylesheet" type="text/css" title="clr-6" media="all" />
    <link href="~/css/styles/clr-7.css" rel="alternate stylesheet" type="text/css" title="clr-7" media="all" />
    <link href="~/css/styles/clr-8.css" rel="alternate stylesheet" type="text/css" title="clr-8" media="all" />
    <link href="~/css/styles/clr-9.css" rel="alternate stylesheet" type="text/css" title="clr-9" media="all" />
    <link href="~/css/styles/clr-10.css" rel="alternate stylesheet" type="text/css" title="clr-10" media="all" />
    <link href="~/css/styles/clr-11.css" rel="alternate stylesheet" type="text/css" title="clr-11" media="all" />
    <link href="~/css/styles/clr-12.css" rel="alternate stylesheet" type="text/css" title="clr-12" media="all" />
    <link href="~/css/styles/clr-13.css" rel="alternate stylesheet" type="text/css" title="clr-13" media="all" />
    <link href="~/css/styles/clr-14.css" rel="alternate stylesheet" type="text/css" title="clr-14" media="all" />
    <link href="~/css/styles/clr-15.css" rel="alternate stylesheet" type="text/css" title="clr-15" media="all" />
    <link href="~/css/styles/clr-16.css" rel="alternate stylesheet" type="text/css" title="clr-16" media="all" />
    <link href="~/css/styles/clr-17.css" rel="alternate stylesheet" type="text/css" title="clr-17" media="all" />
    <link href="~/css/styles/clr-18.css" rel="alternate stylesheet" type="text/css" title="clr-18" media="all" />
    <link href="~/css/styles/clr-19.css" rel="alternate stylesheet" type="text/css" title="clr-19" media="all" />
    <link href="~/css/styles/clr-20.css" rel="alternate stylesheet" type="text/css" title="clr-20" media="all" />
    <link href="~/css/styles/clr-21.css" rel="alternate stylesheet" type="text/css" title="clr-21" media="all" />
    <link href="~/css/styles/clr-22.css" rel="alternate stylesheet" type="text/css" title="clr-22" media="all" />
    <link href="~/css/styles/clr-23.css" rel="alternate stylesheet" type="text/css" title="clr-23" media="all" />
    <link href="~/css/styles/clr-24.css" rel="alternate stylesheet" type="text/css" title="clr-24" media="all" />
    <link href="~/css/styles/clr-25.css" rel="alternate stylesheet" type="text/css" title="clr-25" media="all" />
    <link href="~/css/styles/clr-26.css" rel="alternate stylesheet" type="text/css" title="clr-26" media="all" />
    <link href="~/css/styles/clr-27.css" rel="alternate stylesheet" type="text/css" title="clr-27" media="all" />
    <link href="~/css/styles/clr-28.css" rel="alternate stylesheet" type="text/css" title="clr-28" media="all" />
    <link href="~/css/styles/clr-29.css" rel="alternate stylesheet" type="text/css" title="clr-29" media="all" />
    <link href="~/css/styles/clr-30.css" rel="alternate stylesheet" type="text/css" title="clr-30" media="all" />
    <link href="~/css/styles/clr-31.css" rel="alternate stylesheet" type="text/css" title="clr-31" media="all" />
    <link href="~/css/styles/clr-32.css" rel="alternate stylesheet" type="text/css" title="clr-32" media="all" />
    <link href="~/css/styles/clr-33.css" rel="alternate stylesheet" type="text/css" title="clr-33" media="all" />
</head>
<body>
    <div class="loader">
        <div class="loader-inner">
            <div class="bounce">
                <div class="bounce-circle"></div>
            </div>
        </div>
    </div>
    <div id="wrapper" class="wrapper home">
        <!--Alternate styles for demo purposes only-->
        <div class="blurred-content"></div>
        <div class="container spacer-xlg">
            <div class="row ">
                <div class="col-lg-3 pl-lg-0  my-order-switch-2 mb-lg-0 mb-5">
                    <div class="sticky-lg-top">
                        <header class="shadow bg-dark radius-2 px-4 py-6 text-center ">
                            <div class="profile-image">
                                <div class="profile-image-border">
                                    <img class="rounded-circle" src="~/assets/img/profile.jpg" alt="/">
                                </div>
                            </div>
                            <div class="mt-4 mb-5">
                                <h3 class="font-weight-600 mb-0">
                                     <mark>
                                        @User.Identity.Name
                                    </mark>
                                </h3>
                                @if (User.IsInRole("admin"))
                                {
                                    <h6 class="text-alt">مدیر</h6>

                                }
                                else if (User.IsInRole("librarian"))
                                {
                                    <h6 class="text-alt">کتابدار</h6>
                                }
                                else
                                {
                                    <h6 class="text-alt">کاربر عادی</h6>
                                }
                            </div>
                            @if (User.IsInRole("user"))
                            {
                                @await Html.PartialAsync("/Views/Shared/PartialSidebar/_UserSidebar.cshtml");
                            }
                            else if (User.IsInRole("admin"))
                            {
                                @await Html.PartialAsync("/Views/Shared/PartialSidebar/_AdminSidebar.cshtml");
                            }
                            else if (User.IsInRole("librarian")){
                                @await Html.PartialAsync("/Views/Shared/PartialSidebar/_LibrarianSidebar.cshtml");
                            }
                            else
                            {
                                <nav id="main-nav" class="main-nav clearfix tabbed">
                                    <ul class="pl-0">
                                        <li class="outer radius-2 mb-3 shadow bg-primary">
                                            <a class="inner radius-2" href="custome-index.html" style="pointer-events: none;">
                                                <div class="media align-items-center ">
                                                    <div class="media-body text-left">
                                                        <span class="font-weight-600 font-size-13 text-uppercase  text-muted">خانه</span>
                                                    </div>
                                                    <i class="material-icons text-light">home</i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="outer radius-2 mb-3">
                                            <a class="inner radius-2" href="book-list.html" style="pointer-events: none;">
                                                <div class="media  align-items-center ">
                                                    <div class="media-body text-left">
                                                        <span class="font-weight-600 font-size-13 text-uppercase  text-muted">لیست کتاب ها </span>
                                                    </div>
                                                    <i class="material-icons">book</i>
                                                </div>
                                            </a>
                                        </li>


                                        <li class="outer radius-2 mb-3">
                                            <a class=" inner radius-2" href="reservation-list.html" style="pointer-events: none;">
                                                <div class="media  align-items-center ">
                                                    <div class="media-body text-left">
                                                        <span class="font-weight-600 font-size-13 text-uppercase text-muted">سبد های رزو</span>
                                                    </div>
                                                    <i class="material-icons">add_shopping_cart</i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="outer radius-2 mb-3">
                                            <a class=" inner radius-2" href="#contact" style="pointer-events: none;">
                                                <div class="media  align-items-center ">
                                                    <div class="media-body text-left">
                                                        <span class="font-weight-600 font-size-13 text-uppercase  text-muted">پیشنهاد کتاب</span>
                                                    </div>
                                                    <i class="material-icons">info</i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="outer radius-2 mb-3">
                                            <a class="inner radius-2" href="#about" style="pointer-events: none;">
                                                <div class="media  align-items-center ">
                                                    <div class="media-body text-left">
                                                        <span class="font-weight-600 font-size-13 text-uppercase  text-muted">حساب کاربری</span>
                                                    </div>
                                                    <i class="	account_circle"></i>
                                                    <i class="material-icons">account_circle</i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="outer radius-2 mb-3">
                                            <a class="inner radius-2 " asp-controller="Authentication" asp-action="logout" style="pointer-events: none;">
                                                <div class="media  align-items-center ">
                                                    <div class="media-body text-left">
                                                        <span class="font-weight-600 font-size-13 text-uppercase  text-muted">خروج</span>
                                                    </div>
                                                    <i class="	account_circle"></i>
                                                    <i class="material-icons">	power_settings_new</i>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            }
                        </header>
                        <div class="text-center mt-5 ">
                            <p class="font-size-14 mb-2 text-alt">Coded By Alyas</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 my-order-switch-2">
                    <section id="home" class="shadow bg-dark radius-2 padding-dy text-center " style="height: 100%;">
                        @RenderBody()
                    </section>
                    <div class="row mt-4 justify-content-center ">
                        <div class="text-center shadow-inner radius-2  py-1 px-4">
                            <p class="font-size-11  mb-0 ">Hex Library CopyRight 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="outer scroll-to-top  scroll" href="#wrapper">
            <div class="scroll-to-top-inner inner radius-2"><span class=" fas fa-arrow-up top-icon "></span></div>
        </a>
        <!-- End to the top -->
    </div>
    <!-- End wrapper-->


    
    <!--Javascript-->
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easytabs.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/smooth-scroll.js"></script>
    <script src="~/js/venobox.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/placeholders.min.js"></script>
    <script src="~/js/parallax.js"></script>
    <script src="~/js/morphext.min.js"></script>
    <script src="~/js/switcher.js"></script>
    <script src="~/js/script.js"></script>
    <!-- Google analytics -->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/677465cc49e2fd8dfe012f5a/1igfaraf9';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- End google analytics -->


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


